#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=yEd Graph Editor
Exec=/bin/sh "/home/ailab/.bin/yEd/yEd"
Icon=/home/ailab/.bin/yEd/.install4j/yEd.png
Categories=Application;
